<h1>{{title}}</h1>
<form action="">

<div class="mb-3">
<label for="formGroupExampleInput" class="form-label">Matrícula</label>
<input type="text" class="form-control">
</div>

<div class="mb-3">
<label for="formGroupExampleInput" class="form-label">Nome</label>
<input type="text" class="form-control">
</div>

<div class="mb-3">
<label for="formGroupExampleInput" class="form-label">Data de Nacimento</label>
<input type="text" class="form-control">
</div>

<div class="mb-3">
<label for="formGroupExampleInput" class="form-label">Endereço de Email</label>
<input type="text" class="form-control">
</div>

<button type="button submit" name="submit" id="submit" class="btn btn-outline-primary">{{buttonText}}</button>

</form>
